body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.makeStyles-content-10 {
  margin-left: 5em;
}

/* basic styling for control panel */
.control {
  width: 300px;
  border: 1px solid grey;
  border-radius: 2px;
}

.invitation {
  background-color: #ADD8E6;
  opacity: 0.5;
  padding: 10px;
}
